<!DOCTYPE html>
<html>
  <head>
    <title>Basketball Teams</title>
    <style>
      body {
        background-color: #0253a4;
        color: white;
      }
      ul {
        list-style-type: none;
      }
      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      li img {
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Basketball Teams</h1>
    <h2>Eastern Conference</h2>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/celtics.jpg" width="250" height="250" alt="Boston Celtics"></a>Boston Celtics</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/nets.jpg" width="250" height="250" alt="Brooklyn Nets"></a>Brooklyn Nets</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/knicks.jpg" width="250" height="250" alt="New York Knicks"></a>New York Knicks</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/76ers.jpg" width="250" height="250" alt="Philadelphia 76ers"></a>Philadelphia 76ers</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/raptors.jpg" width="250" height="250" alt="Toronto Raptors"></a>Toronto Raptors</li>
    </ul>
    <h2>Western Conference</h2>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/clippers.jpg" width="250" height="250" alt="Los Angeles Clippers"></a>Los Angeles Clippers</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/lakers.jpg" width="250" height="250" alt="Los Angeles Lakers"></a>Los Angeles Lakers</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/suns.jpg" width="250" height="250" alt="Phoenix Suns"></a>Phoenix Suns</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/jazz.jpg" width="250" height="250" alt="Utah Jazz"></a>Utah Jazz</li>
      <li><a href="https://www.youtube.com/watch?v=YWyHZNBz6FE"><img src="/static/nuggets.jpg" width="250" height="250" alt="Denver Nuggets"></a>Denver Nuggets</li>
    </ul>
  </body>
</html>
​ 