<!--
# CST 205 Spring 23
# Nba Optimizer
# This program is used to find information on Nba basketball players and teams
# Authors: Faraje Aduwo, Arshdeep Cheema, Julian Valencia, Luis Tapia
# Github link: https://github.com/faduwo/Team7563
-->

<!DOCTYPE html>
<html>

<head>
  <title>Basketball Teams</title>
  <style>
    body {
      background-color: #0253a4;
      color: white;
      overflow-x: hidden;
    }

    h1 {
      text-align: center;
      border: 5px solid black;
    }

    .conference {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 20px;
    }

    .conference h2 {
      text-align: center;
      margin-bottom: 10px;
    }

    .team-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      list-style-type: none;
    }

    .team-list li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .team-list li img {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
    }
    .background-image {
    position: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-image: url("/static/images/nba_wallpaper.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
  }
  </style>
</head>

<body>
  <div class="background-image"></div>
  <h1>Basketball Teams</h1>
  <div class="conference">
    <div>
      <h2>Eastern Conference</h2>
      <ul class="team-list">
        <li>
          <a href="{{ url_for('team_info', team_id=2) }}">
            <img src="/static/images/celtics.png" alt="Boston Celtics">
          </a>
          Boston Celtics
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=3) }}">
            <img src="/static/images/nets.png" alt="Brooklyn Nets">
          </a>
          Brooklyn Nets
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=20) }}">
            <img src="/static/images/knicks.png" alt="New York Knicks">
          </a>
          New York Knicks
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=23) }}">
            <img src="/static/images/76ers.png" alt="Philadelphia 76ers">
          </a>
          Philadelphia 76ers
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=28) }}">
            <img src="/static/images/raptors.png" alt="Toronto Raptors">
          </a>
          Toronto Raptors
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=5) }}">
            <img src="/static/images/bulls.png" alt="Chicago Bulls">
          </a>
          Chicago Bulls
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=6) }}">
            <img src="/static/images/cavaliers.png" alt="Cleveland Cavaliers">
          </a>
          Cleveland Cavaliers
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=9) }}">
            <img src="/static/images/pistons.png" alt="Detroit Pistons">
          </a>
          Detroit Pistons
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=12) }}">
            <img src="/static/images/pacers.png" alt="Indiana Pacers">
          </a>
          Indiana Pacers
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=17) }}">
            <img src="/static/images/bucks.png" alt="Milwaukee Bucks">
          </a>
          Milwaukee Bucks
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=1) }}">
            <img src="/static/images/hawks.png" alt="Atlanta Hawks">
          </a>
          Atlanta Hawks
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=4) }}">
            <img src="/static/images/hornets.png" alt="Charlotte Hornets">
          </a>
          Charlotte Hornets
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=16) }}">
            <img src="/static/images/heat.png" alt="Miami Heat">
          </a>
          Miami Heat
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=22) }}">
            <img src="/static/images/magic.png" alt="Orlando Magic">
          </a>
          Orlando Magic
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=30) }}">
            <img src="/static/images/wizards.png" alt="Washington Wizards">
          </a>
          Washington Wizards
        </li>
      </ul>
    </div>
    <div>
      <h2>Western Conference</h2>
      <ul class="team-list">
        <li>
          <a href="{{ url_for('team_info', team_id=8) }}">
            <img src="/static/images/nuggets.png" alt="Denver Nuggets">
          </a>
          Denver Nuggets
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=18) }}">
            <img src="/static/images/timberwolves.png" alt="Minnesota Timberwolves">
          </a>
          Minnesota Timberwolves
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=21) }}">
            <img src="/static/images/thunder.png" alt="Oklahoma City Thunder">
          </a>
          Oklahoma City Thunder
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=25) }}">
            <img src="/static/images/trail blazers.png" alt="Portland Trail Blazers">
          </a>
          Portland Trail Blazers
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=29) }}">
            <img src="/static/images/jazz.png" alt="Utah Jazz">
          </a>
          Utah Jazz
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=10) }}">
            <img src="/static/images/warriors.png" alt="Golden State Warriors">
          </a>
          Golden State Warriors
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=13) }}">
            <img src="/static/images/clippers.png" alt="Los Angeles Clippers">
          </a>
          Los Angeles Clippers
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=14) }}">
            <img src="/static/images/lakers.png" alt="Los Angeles Lakers">
          </a>
          Los Angeles Lakers
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=24) }}">
            <img src="/static/images/suns.png" alt="Phoenix Suns">
          </a>
          Phoenix Suns
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=26) }}">
            <img src="/static/images/kings.png" alt="Sacramento Kings">
          </a>
          Sacramento Kings
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=7) }}">
            <img src="/static/images/mavericks.png" alt="Dallas Mavericks">
          </a>
          Dallas Mavericks
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=11) }}">
            <img src="/static/images/rockets.png" alt="Houston Rockets">
          </a>
          Houston Rockets
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=15) }}">
            <img src="/static/images/grizzlies.png" alt="Memphis Grizzlies">
          </a>
          Memphis Grizzlies
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=19) }}">
            <img src="/static/images/pelicans.png" alt="New Orleans Pelicans">
          </a>
          New Orleans Pelicans
        </li>
        <li>
          <a href="{{ url_for('team_info', team_id=27) }}">
            <img src="/static/images/spurs.png" alt="San Antonio Spurs">
          </a>
          San Antonio Spurs
        </li>
      </ul>
    </div>
  </div>
</body>

</html>